## .NET / Visual Studio / Rider

# Build results
bin/
obj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio
.vs/

# NuGet
packages/
*.nupkg

# OS
Thumbs.db
.DS_Store